<div class="about-heading-content">
    <div class="row">
        <div class="col-xl-6 col-lg-7 mx-auto">
            <div class="bg-faded rounded p-5">
                <section id="about">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <h2 class="section-heading text-uppercase">Expériences professionelles</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="timeline">
                                    <li>
                                        <div class="timeline-image">
                                            <h4>Grand <br/>Lyon</h4>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4>2017 - 2020</h4>
                                                <h4 class="subheading">Apprenti architecte des SI du Grand Lyon
                                                    spécialisé Logiciel Libre et Open Source</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p class="text-muted">Travail sur un plan de transition des
                                                    solutions propriétaires vers des solutions libres et open
                                                    source.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="timeline-inverted">
                                        <div class="timeline-image">
                                            <h4>LPL <br/> Aix-en-Provence</h4>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4>1er juillet 2017 - 29 juillet 2017</h4>
                                                <h4 class="subheading">CDI Développeur web full-stack</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p class="text-muted">Suite du stage pour réaliser un site web
                                                    intranet pour la gestion des recherches
                                                    du LPL et de sa plateforme d'expérimentation le Centre
                                                    d'Experimentation sur la Parole
                                                    avec ajout de la gestion des sujets d'expérimentation.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="timeline-inverted">
                                        <div class="timeline-image">
                                            <h4>LPL <br/> Aix-en-Provence</h4>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4>10 avril 2017 - 16 juin 2017</h4>
                                                <h4 class="subheading">Stage Développeur web full-stack</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p class="text-muted">Réalisation d'un site web intranet pour la
                                                    gestion des recherches
                                                    du LPL et de sa plateforme d'expérimentation le Centre
                                                    d'Experimentation sur la Parole.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="timeline-image">
                                            <h4>Boulangerie <br/>"Lou pan que <br/>canto"</h4>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4 class="subheading">Soutient à l'activité professionelle
                                                    familliale en boulangerie</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p class="text-muted">Fabrication des produits et mise en rayon.</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="col-xl-6 col-lg-7 mx-auto">
            <div class="bg-faded rounded p-5">
                <section id="about">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <h2 class="section-heading text-uppercase">Formations</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="timeline">
                                    <li>
                                        <div class="timeline-image">
                                            <h4>Polytech <br/>Lyon</h4>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4>2017 - 2020</h4>
                                                <h4 class="subheading">Diplôme d'ingénieur informatique en
                                                    alternance</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p class="text-muted">Diplôme d'ingénieur informatique spécialisé en
                                                    Système d'Information suivi en alternance
                                                    en tant qu'apprenti architecte des SI du Grand Lyon</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="timeline-inverted">
                                        <div class="timeline-image">
                                            <h4>IUT <br/>Aix-Marseille</h4>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4>2015 - 2017</h4>
                                                <h4 class="subheading">DUT Informatique à Aix-en Provence</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p class="text-muted">DUT Informatique obtenu en 2017 en étant
                                                    deuxième d'une promotion de 100 étudiants.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="timeline-image">
                                            <h4>Campus <br/>des sciences et <br/>techniques d'Avignon</h4>
                                        </div>
                                        <div class="timeline-panel">
                                            <div class="timeline-heading">
                                                <h4>2017 - 2020</h4>
                                                <h4 class="subheading">Baccaulauréat Scientifique Lycée Philippe de
                                                    Girard</h4>
                                            </div>
                                            <div class="timeline-body">
                                                <p class="text-muted">Bac scientifique spécialité Sciences de
                                                    l'Ingénieur obtenu avec une mention bien et anglais euro.
                                                    J'ai suivi une option Informatique et Sciences du
                                                    numériques.</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>