<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-13 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-lower">Mes compétences techniques</span>
                    </h2>
                    <div class="row">
                        <div class="col-xl-4 mx-auto">
                            <div class="cta-inner text-center rounded">
                                <h2 class="section-heading mb-5">
                                    <span class="section-heading-upper">Bases de données</span>
                                </h2>
                                <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                                    <li class="list-unstyled-item list-hours-item d-flex">
                                        Conception de bases de données relationelles
                                        <span class="ml-auto">4/5</span>
                                    </li>
                                    <li class="list-unstyled-item list-hours-item d-flex">
                                        SQL
                                        <span class="ml-auto">4/5</span>
                                    </li>
                                    <li class="list-unstyled-item list-hours-item d-flex">
                                        PL/SQL
                                        <span class="ml-auto">4/5</span>
                                    </li>
                                    <li class="list-unstyled-item list-hours-item d-flex">
                                        MySQL
                                        <span class="ml-auto">4/5</span>
                                    </li>

                                    <li class="list-unstyled-item list-hours-item d-flex">
                                        Oracle
                                        <span class="ml-auto">4/5</span>
                                    </li>
                                    <li class="list-unstyled-item list-hours-item d-flex">
                                        PostgreSQL
                                        <span class="ml-auto">3/5</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-4 mx-auto">
                            <div class="cta-inner text-center rounded">
                                <h2 class="section-heading mb-5">
                                    <span class="section-heading-upper">Web</span>
                                </h2>
                                <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                                    <li class="list-unstyled-item list-hours-item d-flex">
                                        HTML5 - CCS3
                                        <span class="ml-auto">4/5</span>
                                    </li>
                                    <li class="list-unstyled-item list-hours-item d-flex">
                                        PHP
                                        <span class="ml-auto">4/5</span>
                                    </li>
                                    <li class="list-unstyled-item list-hours-item d-flex">
                                        JavaScript
                                        <span class="ml-auto">4/5</span>
                                    </li>
                                    <li class="list-unstyled-item list-hours-item d-flex">
                                        NodeJS
                                        <span class="ml-auto">2/5</span>
                                    </li>

                                    <li class="list-unstyled-item list-hours-item d-flex">
                                        Angular
                                        <span class="ml-auto">2/5</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-4 mx-auto">
                            <div class="cta-inner text-center rounded">
                                <h2 class="section-heading mb-5">
                                    <span class="section-heading-upper">Programmation</span>
                                </h2>
                                <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                                    <li class="list-unstyled-item list-hours-item d-flex">
                                        Java
                                        <span class="ml-auto">4/5</span>
                                    </li>
                                    <li class="list-unstyled-item list-hours-item d-flex">
                                        C++
                                        <span class="ml-auto">4/5</span>
                                    </li>
                                    <li class="list-unstyled-item list-hours-item d-flex">
                                        Python
                                        <span class="ml-auto">2/5</span>
                                    </li>
                                    <li class="list-unstyled-item list-hours-item d-flex">
                                        Jetbrains
                                        <span class="ml-auto">3/5</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <br/><br/>

                    <div class="row">
                        <div class="col-xl-4 mx-auto">
                            <div class="cta-inner text-center rounded">
                                <h2 class="section-heading mb-5">
                                    <span class="section-heading-upper">Infrastructures</span>
                                </h2>
                                <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                                    <li class="list-unstyled-item list-hours-item d-flex">
                                        Bash
                                        <span class="ml-auto">4/5</span>
                                    </li>
                                    <li class="list-unstyled-item list-hours-item d-flex">
                                        Docker
                                        <span class="ml-auto">3/5</span>
                                    </li>
                                    <li class="list-unstyled-item list-hours-item d-flex">
                                        OpenStack
                                        <span class="ml-auto">2/5</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-4 mx-auto">
                            <div class="cta-inner text-center rounded">
                                <h2 class="section-heading mb-5">
                                    <span class="section-heading-upper">Système d'exploitation</span>
                                </h2>
                                <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                                    <li class="list-unstyled-item list-hours-item d-flex">
                                        Linux type Debian en server et desktop
                                        <span class="ml-auto">4/5</span>
                                    </li>
                                    <li class="list-unstyled-item list-hours-item d-flex">
                                        Linux type RedHat en server
                                        <span class="ml-auto">4/5</span>
                                    </li>
                                    <li class="list-unstyled-item list-hours-item d-flex">
                                        Windows 7 et 10
                                        <span class="ml-auto">4/5</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-13 mx-auto">
                <div class="cta-inner text-center rounded">
                    <h2 class="section-heading mb-5">
                        <span class="section-heading-lower">Mes compétences associées</span>
                    </h2>
                    <div class="row">
                        <div class="col-xl-4 mx-auto">
                            <div class="cta-inner text-center rounded">
                                <h2 class="section-heading mb-5">
                                    <span class="section-heading-upper">Gestion</span>
                                </h2>
                                <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                                    <li class="list-unstyled-item list-hours-item d-flex">
                                        Gestion de projet traditionnelle et agile
                                        <span class="ml-auto">4/5</span>
                                    </li>
                                    <li class="list-unstyled-item list-hours-item d-flex">
                                        Gestion d'équipe
                                        <span class="ml-auto">3/5</span>
                                    </li>
                                    <li class="list-unstyled-item list-hours-item d-flex">
                                        Droit (réglementation, licence)
                                        <span class="ml-auto">3/5</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-4 mx-auto">
                            <div class="cta-inner text-center rounded">
                                <h2 class="section-heading mb-5">
                                    <span class="section-heading-upper">Communication</span>
                                </h2>
                                <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                                    <li class="list-unstyled-item list-hours-item d-flex">
                                        Rédactionnel
                                        <span class="ml-auto">4/5</span>
                                    </li>
                                    <li class="list-unstyled-item list-hours-item d-flex">
                                        Présentation
                                        <span class="ml-auto">3/5</span>
                                    </li>
                                    <li class="list-unstyled-item list-hours-item d-flex">
                                        Anglais
                                        <span class="ml-auto">B1</span>
                                    </li>
                                    <li class="list-unstyled-item list-hours-item d-flex">
                                        Espagnol
                                        <span class="ml-auto">B2</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-4 mx-auto">
                            <div class="cta-inner text-center rounded">
                                <h2 class="section-heading mb-5">
                                    <span class="section-heading-upper">Outils</span>
                                </h2>
                                <ul class="list-unstyled list-hours mb-5 text-left mx-auto">
                                    <li class="list-unstyled-item list-hours-item d-flex">
                                        LibreOffice
                                        <span class="ml-auto">4/5</span>
                                    </li>
                                    <li class="list-unstyled-item list-hours-item d-flex">
                                        Microsoft Office
                                        <span class="ml-auto">4/5</span>
                                    </li>
                                    <li class="list-unstyled-item list-hours-item d-flex">
                                        Git
                                        <span class="ml-auto">5/5</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>